.navbar {
  background-color: #222;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 20px;
  transition: all 0.3s ease;
  z-index: 2;
}

.nb-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.nb-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

.nb-link {
  color: #fff;
  background: transparent;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.nb-menu li a:hover {
  background-color: var(--dark);
}

.active {
  color: #bbf;
  background: #2b2b2b;
}

.nb-logo {
  text-decoration: none;
}

.nb-logo h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  color: #fff;
}

.nb-logo:hover {
  opacity: 0.8;
}

.nb-unfixed {
  top: -70px;
}

.nb-hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: none;
}

.nb-separator {
  display: none;
}

@media screen and (max-width: 900px) {
  .nb-menu {
    display: none;
    position: absolute;
    top: 2rem;
    left: 0;
    font-size: 1.6rem;
    padding: 1rem;
    flex-direction: column;
    width: 100%;
    background: #222;
    gap: 1rem;
  }
  

  .nb-menu.nb-expanded {
    display: flex;
  }

  .nb-menu li {
    text-align: center;
    margin: 0;
    border-radius: 0;
    width: 100%;
  }

  .nb-hamburger {
    display: block;
  }

  .nb-separator {
    display: block;
    width: 70%;
    opacity: .5;
  }
}