.card {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  
}

.card:hover {
  transform: scale(1.01);
  transform: translateY(-0.5rem);
}

.card img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.card h2 {
  margin: 0;
}

.card p {
  font-size: large;
  margin: 0;
}