.x-card {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  border-bottom: solid 2px #bbba;
  background: #ccc1;
  overflow: hidden;
}

.x-card:hover {
  transform: scale(1.01);
  transform: translateY(-0.5rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.x-card img {
  width: 100%;
  height: auto;
}

.x-text-cont {
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-card-title {
  margin: 0;
}

.x-card p {
  font-size: large;
  margin: 0;
}