.y-card {
  aspect-ratio: 16/3;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  gap: 3rem;
}

.y-card:hover {
  transform: scale(1.02);
}

.y-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: #333 dashed 2px;
}

.y-par {
  flex-direction: row-reverse;
}

.y-par.y-title {
  display: flex;
  flex-direction: row-reverse;
}

.y-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.y-links a {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10px;
  background: #bbb5;
  color: #555;
  font-size: 1.5rem;
  text-align: center;
  padding: 7px 0;
}

.y-links a:hover {
  opacity: .8;
}

.y-img-link-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.y-card img {
  aspect-ratio: 1/1;
  width: 100px;
  border-radius: 50%;
  border: solid 2px var(--light-blue);
}

@media screen and (max-width: 900px) {
  .y-card {
    aspect-ratio: none;
    width: 100%;
    flex-direction: column;
  }
  
  .y-par.y-title {
    flex-direction: row;
  }
}

