.cards-section {
  margin: auto;
  width: 80%;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  justify-items: center;
}
.title-section {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}