.navbar {
  background-color: #222;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
  transition: all 0.3s ease;
  z-index: 2;
}

.navbar-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

.navbar-menu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.navbar-menu li a:hover {
  color: #ffffff;
  background-color: #333333;
}

.navbar-logo {
  text-decoration: none;
}

.navbar-logo h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-logo:hover {
  opacity: 0.8;;  
}

.navbar-unfixed {

  top: -70px;
}